#albums {
    @include model-view();

    & > .active {
        display: grid;
        grid-template:
            "name cover" 120px
            "tracks tracks"
            / 5fr 1fr;

        .cover {
            width: 100px;
            height: 100px;

            svg {
                font-size: 4rem;
            }
        }

        h1 {
            grid-area: name;
        }
    }
}
