#albums {
    @include model-view();

    & > .active {
        display: grid;
        grid-template:
            "name cover" 80px
            "artists cover" 40px
            "songs songs"
            / 5fr 1fr;

        .cover {
            width: 100px;
            height: 100px;

            svg {
                font-size: 4rem;
            }
        }

        .artists {
            text-align: center;
            & > *:not(:last-child) {
                &::after {
                  content: ', ';  
                }
            }
        }

        h1 {
            grid-area: name;
        }
    }
}
