#artists {
    @include model-view();

    .albums {
        div {
            display: grid;
            grid-template:
                "cover info"
                "cover tracks";
            justify-content: start;
            width: fit-content;

            table {
                grid-area: tracks;
            }

            h5 {
                grid-area: info;
            }

            img {
                grid-area: cover;
                height: 150px;
            }
        }
    }
}
