@import "./vars.scss";

html {
    overflow: hidden;
}

a {
    text-decoration: none;
    color: $text !important;
}

@mixin grid-borders() {
    border-bottom: $border-width solid #444;
    border-right: $border-width solid #444;

    & > * {
        border-top: $border-width solid #444;
        border-left: $border-width solid #444;
    }
}

@mixin pseudo {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    transform: translate(-50%, -50%);
}

#root {
    background-color: $bg;
    font-family: sans-serif;
    color: $text;

    height: 100vh;

    display: grid;
    grid-template:
        "nav player" 80px
        "nav page"
        "playlists page"
        "cover page"
        / 300px;

    .cover {
        align-self: end;
    }

    @include grid-borders();
}

* {
    margin: 0;
    padding: 0;
    transition: background 0.1s linear, opacity 0.1s linear, filter 0.1s linear;
}

img {
    width: 100%;
    object-fit: contain;
}

.icon-button {
    border-radius: 100%;
    transition: background 0.1s linear;
    padding: 10px;
    cursor: pointer;

    &:hover {
        background-color: #fff3;
    }
}

.seperate-comma {
    &:not(:last-child)::after {
        content: ", ";
    }
}

span + svg {
    margin-left: 10px;
}

@keyframes load {
  from {
    padding: 10px;
    opacity: 0.6;
  }
  to {
    padding: 30px;
    opacity: 1;
  }
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $text;
  border-radius: 100%;
  animation: load 0.5s ease-out infinite alternate;
}

@import "./nav.scss";
@import "./player.scss";
@import "./playlist.scss";
@import "./artists.scss";
@import "./albums.scss";
@import "./playlists.scss";
@import "./tracklist.scss";
