@mixin list {
    height: 100%;
    list-style: none;

    li {
        text-overflow: ellipsis;
        white-space: nowrap;

        &,
        a {
            padding: 10px;
        }

        &:hover, &.active {
            background-color: $light-gray;
        }
    }
}

.list {
    @include list();
}
