.user-login {
    width: 320px;
    background-color: #212121;
    border: 1px solid #0094ff;

    padding: 30px 50px;
    padding-bottom: 80px;

    form {
        margin: 0 auto;
        background: transparent;

        div {
            display: grid;
            margin: 20px 0;

            &:last-of-type {
                margin-bottom: 50px;
            }

            label {
                margin-bottom: 10px;
            }

            input {
                border-bottom: 1px solid #0094ff;
                height: 30px;
            }
        }

        h1 {
            text-align: center;
            margin: 20px 0;
        }

        button,
        a {
            padding: 5px 12px;
            font-size: 1rem;
            font-weight: 300;
            border-radius: 20px;
        }

        button {
            border: 1px solid #0094ff;
        }

        a {
            color: #0094ff;
            text-align: center;
        }
    }
}
