nav {
  grid-area: nav;

  ul {
    list-style-type: none;

    li {

      &, a {
        padding: 10px;
        text-decoration: none;
      }

      &.active,
      &:hover {
        a {
          color: $primary;
        }
      }
    }
  }
}
