#playlists {
    display: grid;
    grid-template:
        "list songs"
        / 1fr 6fr;

    ul {
        border-right: $border-width solid #444;
    }

    .songs {
        padding-top: 10px;

        h1 {
            text-align: center;
        }
    }
}
