.Playlist{
    background-color: rgb(255, 47, 75);
    float: left;
    width: 15%;

    ul{
        width: 90%;
        background-color: darken($color: #000000, $amount: 0);

        .ListGroup{
            background-color: $playlist;
        }
    }
}