
#registration{
    display: grid;
    justify-content: center;
    align-items: center;
    color: white;
}

.userregistration{
    width: 320px;
    height: 420px;
    background-color: #212121;
    top: 50%;
    left: 50%;
    border: 1px solid #0094FF ;
    vertical-align: middle;
    margin: 0 auto;
    padding: 0 auto;
    
    .LoginForm{
   
        margin: 0 auto;
       background: transparent;
       
    }
   
}
.userregistration p{
    font-weight: bolder;
   
    padding-bottom: 10px;
    padding-left: 70px;

}
.userregistration h1{
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    
}

.userregistration input{
    border-bottom: 1px solid #0094FF;
    background: transparent;
    display: grid;
    justify-content: center;
    align-items: center;
    margin-left: 70px;
    color: white;
    height: 30px;
    width: 150px;
    border-left: none;
    border-right: none;
    border-top: none;

}
.userregistration button{
    border: 1px solid #0094FF;
    border-spacing: 20px;
    position: absolute;
    
    display: grid;
    justify-content: center;
    align-items: center;
    margin-left: 70px;
    border-radius: 20px;
 
font-size: 1.0em;
    padding: 5px 12px; 
    
    font-weight: 300;
   
    border-radius: 20px;
}



