.songlist {
    width: 100%;
    border-collapse: collapse;

    grid-area: songs;

    $border: #555;

    td,
    th {
        padding: 5px 10px;
        &:not(:first-child) {
            border-left: $border-width solid $border;
        }
        &:not(:last-child) {
            border-right: $border-width solid $border;
        }
    }

    tbody,
    thead {
        border-bottom: $border-width solid $border;
    }

    tbody {
        tr {
            &:nth-of-type(odd) {
                background-color: $gray;
            }
        }
    }

    &:not(:first-child) {
        border-top: $border-width solid $border;
    }

    overflow: scroll;
}

.song-button {
    border: none;
    transition: color 0.1s linear;

    &:focus,
    &:hover {
        box-shadow: none;
        color: $primary;
    }
}
