.songlist {
    width: 100%;
    grid-area: songs;
    $border: #555;

    & > div {
        width: 100%;
        display: grid;
        grid-auto-columns: 30px 1fr 1fr 1fr 100px;
        grid-auto-flow: column;
        border-right: $border-width solid $border;

        p {
            padding: 5px 10px;
            width: calc(100% - 20px);

            &:not(:first-child) {
                border-left: $border-width solid $border;
            }
        }
    }

    & > div:first-child {
        border-bottom: $border-width solid $border;
    }

    & > div {
        &:nth-of-type(odd) {
            background-color: $gray;
        }
    }

    &:not(:first-child) {
        border-top: $border-width solid $border;
    }

    overflow: scroll;
}

.song-button {
    border: none;
    transition: color 0.1s linear;

    &:focus,
    &:hover {
        box-shadow: none;
        color: $primary;
    }
}
